html {
  box-sizing: border-box;
}

*, ::after ::before {
  box-sizing: inherit;
}

body {
  max-width: 1000px;
  margin: 20px auto;
  font-family: 'roboto', sans-serif;
  background-color: rgb(214, 214, 214);
}