.container__button {
    border: none;
    background-color: transparent;
    padding: 15px;
    color: teal;
    font-size: 18px;
    transition: 0.5s;
}

.container__button:hover {
    color: rgb(0, 177, 177);
}

.container__button:active {
    color: rgb(0, 78, 78);
}

.container__button:disabled {
    color: rgba(125, 125, 125, 0.389);
}